.Modal{
    margin-top: 55px;
    margin-right: auto;
    margin-left: auto;
    height:90vh;
    width:90%;
    
   
}
.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
  }


.Frame{
    z-index: 30;
    position: relative;
    margin-left: 40%;
   
  
}
.animation{
    z-index: 10;
    position: absolute;
    margin-left: 1%;
}
.Btn{
margin-top: 1%;
margin-left: 95%;
border: none;
background-color: transparent;
position: relative;
z-index: 15;
}

.Btn:hover{
    opacity: 0.6;
}
